%h1 Occurances

%ul
  - @occurances.each do |o|
    %li
      = o.event.category.titlecase + ": " + o.event.name
      - if o.event.category == "mood"
        %br
        = "Severity: " + o.severity.to_s
      %br
      = "At: " + o.readable_at


-# TODO: Replace this with data viz
